.AboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AboutUsContetnt{
    width: 87%;
    height: 1706px;
    background-image: url("../images/about/bg.png");
}
.Aboutbox2,.Aboutbox1,.Aboutbox3{
    width: 100%;
    display: flex;
}
.Aboutbox2{
    justify-content: end;
}
.Aboutext2{
    margin-top: 90px;
    width: 40%;
    background-image: url("../images/about/Frame1.png");
    height: 458px;
}
.Aboutext3  {
    margin-top: 160px;
}
.Aboutext1,.Aboutext3{
    width: 40%;
    background-image: url("../images/about/Frame1.png");
    height: 458px;
}
.Aboutext1,.Aboutext3,.Aboutext2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100px;
}
#QQ{
    align-items: end;
}
.darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .Owner{
    text-align: center;
  }
.OwnersContaners{
    width: 80%;
    height: 580px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.Donald{
    margin-top: 30px;
    
}
@keyframes changeColor {
    0%{
      background: red;
      margin-left: 0;
      margin-top: 0;
    }
    
    25%{
      background: yellow;
      margin-left: 100px;
      margin-top: 0;
    }
    
    50%{
      background: green;
      margin-left: 100px;
      margin-top: 100px;
    }
    
    100%{
      background: blue;
      margin-left: 0;
      margin-top: 100px;
    }
  }

  