*{
    margin: 0;
padding:0;
}
.Header-Container{
    background-image: url("../images/Rectangle\ 10.png"),url("../images/Rectangle\ 12.png");
    width: 100vw;
    height: 600px;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
   
    height: 10%;
    width: 100%;
   display: flex;
   justify-content: center;

}
.navContainer{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 60px;
    
}
.navButtons{
    display: flex;
    width: 50%;

    justify-content: space-between;
}
.mainContainer{
    display: flex;
    justify-content: space-around ;
    height: 90%;
    
    align-items: center;
}
#red{
    background-color: rgb(239, 109, 170);
    border-radius: 30px;
    color: white;
}
.EventOptions input,.EventOptions select{
background-color: #e3caef;
border: 4px solid #e3caef;
color: black;
height: 37px;
border-radius: 30px;
}
#white{
    background-color: transparent;
    color: white;
          border: 2px solid white;
            padding: 10px 20px; 
            cursor: pointer; 
            border-radius: 30px;
}
.fixmainContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    ALIGN-ITEMS: CENTER;
}
.maininfos{
    width: 50%;
    height: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
.search input,select{
    border: none;
    background-color: rgb(57, 3, 122);
    color: white;
    border-bottom:  0.1px groove gray;
}
.headSearch{
    font-size: small;
}
#searchSelection{
    width: 100%;
}
.search div{
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}
.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    color: white;
    height: 100px;
    background-color:rgb(57, 3, 122);
    border-radius: 10px;
    background-size: cover;
    position: relative;
    top: -50px;


}

footer a,.textfooter,.ss,.up{
    margin-bottom:5px ;
}
.up{
    margin-bottom: 23px;
}
.socialMedia img{
    margin-right: 8px;
}
.upEvent{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-bottom: 60px;

    align-items: center;
}
.Event{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.EventOptions{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.Time{
    width: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.Eoption{
    width: 30%;
}
.EventsImages{
    display: flex;
    width: 80vw;
}
.Eimages-desc{
    display: flex;
    margin-top: 16px;
    margin-bottom: 19px;
    
}
.EventimagesContainer{
    width: 80%;
    HEIGHT: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ALIGN-ITEMS: CENTER;
}
.Eimages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    background: WHITESMOKE;
    outline-color: black;
    border-radius: 19px;
}
.Eimages img{
width: 100%;
}
.mainContainer-buttons{
    height: 30%;
   
    width: 70%;
    display: flex   ;
    justify-content: space-between;
}
.btnheader{
    width: 40%;
    height: 35%;
    background-color: azure;
}
.Joinbrand{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 166px;
    background-color: #e3caef;
    justify-content: center;
    margin-top: 100px;


}
/* .fontstyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
} */
.dm-sans-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
.Brands{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    
}
.Blog-images{
    display: flex;
    flex-direction: column;
    
    width: 30%;
}
.brandsContainer{
    display: flex;
    justify-content: space-between;
    width: 89%;
    align-items: center;
}
.BlogContainer{
    display: flex;
    JUSTIFY-CONTENT: space-around;
    width: 80%;

}
.Blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;

}
.blogHeader{
    margin-bottom: 30px;
    display: flex;
   flex-direction: column;
   align-items: center;
}
footer{
    margin-top: 17px;

    width: 100%;
    height:300px;
    display: flex;
    background-color: #321665;
    padding-top: 35px;
    justify-content: center;

}
.footerinput{
display: flex;
justify-content: space-between;
background-color: white;
width: 100%;
height: 36px;
border-color: azure;
border: #e3caef;
border-radius: 40px;
padding: 5px;

}
input{
    border: none;
}
footer , footer a {
    color: white;
}
#subscribeNow{
    width: 120px;
    background-color: red;
    border: none;
    border-radius: 40px;
}
a{
    text-decoration: none;
}
.footerCon{
    width: 20%;
    display: flex;
    flex-direction: column;
 
}
.textfooter{
    width: 70%;
    margin-bottom: 15px;
}
.footer1Con{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.EventLinks{
    display: flex;
    flex-direction: column;
}

