.container{
    width: 100%;
    background-image: url("../images/bglog.jpg");
    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}
.loginInputs{
    display: flex;
    flex-direction: column;
}

